{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Login</h2>
            <hr />
            {% if template_data.form.errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in template_data.form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <p>
                <label for="id_email">Email</label>
                {{ template_data.form.email }}
              </p>
              <p>
                <label for="id_password">Password</label>
                {{ template_data.form.password }}
              </p>
              <div class="text-center">
                <button type="submit" class="btn bg-dark text-white">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
